* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img, svg {
    cursor: pointer;
}

.vid-flex {
    display: flex;
    align-items: center;
}


/* Navbar */

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-right img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
}

.nav-center .mic-icon {
    cursor: pointer;
}

.nav-center .search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-center .search-box input {
    width: 550px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-center .search-box .img {
    width: 15px;
}

.nav-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.nav-lbtn {
    margin-right: 5px;
}


/* Sidebar */

.sidebar {
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}

.shortcut-links a img {
    width: 20px;
    margin-right: 20px;
}

.shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.shortcut-links a:hover {
    padding-left: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar hr {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscribed-list h3 {
    font-size: 13px;
    margin: 20px 0;
    color: 5a5a5a;
}

.subscribed-list a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.subscribed-list a img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar {
    width: 5%;
}

.small-sidebar a p {
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
}


/* Main */

.container {
    background: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-sidebar {        
    padding-left: 7%;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 8px;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.video-list .thumbnail {
    width: 100%;
    border-radius: 5px;
}

.video-list .vid-flex {
    align-items: flex-start;
    margin-top: 7px;
}

.video-list .vid-flex img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.vid-info {
    color: #5a5a5a;
    font-size: 13px;
}

.vid-info a {
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}


/* Play Video */

.play-container {
    padding-left: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video {
    flex-basis: 69%;
}

.right-sidebar {
    flex-basis: 30%;
}

.play-video video {
    width: 100%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img {
    width: 100%;
}

.side-video-list .small-thumbnail {
    flex-basis: 49%;
}

.side-video-list .vid-info {
    flex-basis: 49%;
}

.play-video .tags a {
    color: #0000ff;
    font-size: 13px;
}

.play-video h3 {
    font-weight: 600;
    font-size: 22px;
}

.play-video .play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.play-video .play-video-info a img {
    width: 20px;
    margin-right: 8px;
}

.play-video .play-video-info a {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.play-video hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.publisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.publisher div {
    flex: 1;
}

.publisher img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.publisher div p {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.publisher div span {
    color: #5a5a5a;
    font-size: 13px;
}

.publisher button {
    background: red;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}

.vid-des {
    padding-left: 55px;
    margin: 15px 0;
}

.vid-des p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}

.vid-des h4 {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}

.add-comment {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.add-comment img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.add-comment input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}

.old-comments {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.old-comments img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.old-comments h3 {
    font-size: 14px;
    margin-bottom: 2px;
}

.old-comments h3 span {
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}

.old-comments .comment-action {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}

.old-comments .comment-action img {
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}

.old-comments .comment-action span {
    margin-right: 20px;
    color: #5a5a5a;
}

.old-comments .comment-action a {
    color: #0000ff;
}


/* Channel */

.channel {
    margin-bottom: 110px;
}

.cover {
    width: 100%;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.profile-div {
    position: absolute;
    margin-left: 160px;
    top: 400px;
}

.channel-username, .channel-des {
    margin-top: 12px;
    color: #5a5a5a;
    font-size: 15px;
}

.channel-username span {
    margin-left: 10px;
}

.channel-des {
    margin-bottom: 25px;
}

.subscribe-btn {
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;    
    padding-left: 12px;    
    padding-right: 12px;    
    border-radius: 100px;
    cursor: pointer;
}


/* Dropdown */

.dropdown {
    display: inline-block;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 300px;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding-top: 10px;
    padding-bottom: 10px;    
    padding-left: 12px;    
    padding-right: 12px;    
    cursor: pointer;
    margin-left: 35px;
}

.dropdown-btns {
    padding-top: 10px;
    margin-bottom: 10px;
}

.dropdown-content hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.profile {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
}



/* Log in */

.login {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
}

.login .google {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.login .signin {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 250;
}

.login p {
    margin-bottom: 35px;
    font-size: 17px;
}

.login form {
    margin-bottom: 10px;
}

.f-pass-div {
    display: flex;
    margin-left: 50px;
}

.f-pass {
    color: #0000ff;
    font-size: 14px;
}

.login-btn {
    margin-top: 65px;
    padding-bottom: 65px;
    display: flex;
}

.login-btn a {
    margin-left: 50px;
    color: #0000ff;
    width: 700px;
}

.login-button {
    margin-left: 150px;
    margin-right: 50px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.login input {
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.2);
}


/* Sign up */

.signup {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 65px;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
}

.signup .google {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.signup .signin {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 250;
}

.signup form {
    margin-bottom: 10px;
}

.signup-btn {
    margin-top: 65px;
    padding-bottom: 65px;
}

.signup-btn a {
    margin-left: 50px;
    color: #0000ff;
    width: 700px;
}

.signup-button {
    margin-left: 150px;
    margin-right: 50px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.signup input {
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.2);
}


/* Setting */

.settings {
    /* background-color: #0000ff; */
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.s-pics button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 155px;
    cursor: pointer;
}

.s-profile {
    width: 150px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.settings-opt {
    /* background-color: aqua; */
    margin-top: 55px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
}

.settings-opt h2 {
    margin-left: 20px;
    font-size: 30px;
}

.settings-opt p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.settings-opt input, button {
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.settings-opt button {
    cursor: pointer;
}

.s-des {
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.settings-opt span {
    font-size: 17px;
    color: #5a5a5a;
}