{% extends "streaming/layout.html" %}


{% block body %}

<!-- Navbar -->
{% include "streaming/navbar.html" %}

<!-- Sidebar -->
{% include "streaming/sidebar.html" %}

<!-- Main -->
<div class="container">
    <div class="channel">
        {% if channel.cover %}
       <img class="cover" src="{{ channel.cover.url }}" alt="channel-cover">
       {% else %}
       <img class="cover" src="{% static 'streaming/images/banner.png' %}" alt="channel-cover">

       {% endif %}
        {% if channel.by.profile_pic %}
            <img class="profile" src="{{ channel.by.profile_pic.url }}"  alt="user-icon" class="user-icon">
        {% else %}
            <img class="profile "src="{% static 'streaming/images/profile_placeholder.jpg' %}"  alt="user-icon" class="user-icon">
        {% endif %}
        <div class="profile-div">
            <h2>{{ channel.name }}</h2>
            <div class="vid-flex channel-username">
                <p>@{{ channel.by.username }}</p>
                <span> &bull; 1M Subscribers</span>
                <span> &bull; 400 Videos</span>
            </div>
            <div class="channel-des">
                <p>{{ channel.description }}</p>
            </div>
            <form id="subscribeForm" method="post" action="{% url 'subscribe' %}">
                {% csrf_token %}
                <input type="hidden" name="channel_id" value="{{ channel.id }}">
                {% if subscribed %}
                    <button type="button" id="subscribe-btn" class="subscribed" 
                    onclick="subscribeForm()">SUBSCRIBED</button>
                {% else %}
                    <button type="button" id="subscribe-btn"  
                    onclick="subscribeForm()">SUBSCRIBE</button>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="list-container">
        {% for video in videos %}
        <div class="video-list">
            <a href="{% url 'playVideo' v=video.id%}"><img src="{{ video.thumbnail.url }}" alt="thumbnail"
                    class="thumbnail"></a>
            <div class="vid-flex">
                <a href="{% url 'channel' c=channel.id %}"><img src="{{ channel.by.profile_pic.url }}" alt="user-icon"></a>
                <div class="vid-info">
                    <a class="nav-link" href="{% url 'playVideo' v=video.id%}">{{ video.title }}</a>
                    <p>{{ video.channel.name }}</p>
                    <p>100k Views &bull; {{ video.time|timesince }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    
    </div>
</div>

<script src="{% static 'streaming/js/channelAjax.js' %}"></script>
{% endblock %}