{% extends "streaming/layout.html" %}

{% block body %}

<!-- Navbar -->
{% include "streaming/navbar.html" %}

<!-- Sidebar -->
{% include "streaming/sidebar.html" %}

<!-- Main -->
<div class="container">
    <div class="history-title">
        <h2>Watch History</h2>
        <hr>
    </div>
    <div class="list-container">
        {% for h in history %}
        <div class="video-list">
            <a href="{% url 'playVideo' v=h.on.id%}"><img src="{{ h.on.thumbnail.url }}" alt="thumbnail"
                    class="thumbnail"></a>
            <div class="vid-flex">
                <a href="{% url 'channel' c=h.on.channel.id %}"><img src="{{ h.on.channel.by.profile_pic.url }}" alt="user-icon"></a>
                <div class="vid-info">
                    <a class="nav-link" href="{% url 'playVideo' v=h.on.id%}">{{ h.on.title }}</a>
                    <p>{{ h.on.channel.name }}</p>
                    <p>watched &bull; {{ h.time|timesince }} ago</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="video-list">
            <a href=""><img src="{% static 'streaming/images/thumbnail2.png' %}" alt="thumbnail" class="thumbnail"></a>
            <div class="vid-flex">
                <img src="{% static 'streaming/images/Jack.png' %}" alt="user-icon">
                <div class="vid-info">
                    <a class="nav-link" href="">Here any title of your video abcdefghijklmnopqrstuvwxyz</a>
                    <p>Easy Tutorials</p>
                    <p>100k Views &bull; 1 hour</p>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href=""><img src="{% static 'streaming/images/thumbnail3.png' %}" alt="thumbnail" class="thumbnail"></a>
            <div class="vid-flex">
                <img src="{% static 'streaming/images/Jack.png' %}" alt="user-icon">
                <div class="vid-info">
                    <a class="nav-link" href="">Here any title of your video abcdefghijklmnopqrstuvwxyz</a>
                    <p>Easy Tutorials</p>
                    <p>100k Views &bull; 1 hour</p>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href=""><img src="{% static 'streaming/images/thumbnail4.png' %}" alt="thumbnail" class="thumbnail"></a>
            <div class="vid-flex">
                <img src="{% static 'streaming/images/Jack.png' %}" alt="user-icon">
                <div class="vid-info">
                    <a class="nav-link" href="">Here any title of your video abcdefghijklmnopqrstuvwxyz</a>
                    <p>Easy Tutorials</p>
                    <p>100k Views &bull; 1 hour</p>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}