{% extends "streaming/layout.html" %}

{% block body %}

<!-- Navbar -->
{% include "streaming/navbar.html" %}

<!-- Sidebar -->
{% include "streaming/sidebar.html" %}

<!-- Main -->
<div class="container">
    <div class="history-title">
        <h2>Watch History</h2>
        <hr>
    </div>
    <div class="list-container">
        {% for h in history %}
        <div class="video-list">
            <a href="{% url 'playVideo' v=h.on.id%}"><img src="{{ h.on.thumbnail.url }}" alt="thumbnail"
                    class="thumbnail"></a>
            <div class="vid-flex">
                <a href="{% url 'channel' c=h.on.channel.id %}"><img src="{{ h.on.channel.by.profile_pic.url }}" alt="user-icon"></a>
                <div class="vid-info">
                    <a class="nav-link" href="{% url 'playVideo' v=h.on.id%}">{{ h.on.title }}</a>
                    <p>{{ h.on.channel.name }}</p>
                    <p>watched &bull; {{ h.time|timesince }} ago</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}