{% extends "streaming/layout.html" %}

{% block body %}

<!-- Navbar -->
{% include "streaming/navbar.html" %}

<!-- Sidebar -->
{% include "streaming/sidebar.html" %}

<!-- Main -->
<div class="container">
    <div class="history-title">
        <h2>Watch History</h2>
        <hr>
    </div>
    <div class="list-container">
        <div class="video-list">
            <a href=""><img src="{% static 'streaming/images/thumbnail1.png' %}" alt="thumbnail"
                    class="thumbnail"></a>
            <div class="vid-flex">
                <img src="{% static 'streaming/images/Jack.png' %}" alt="user-icon">
                <div class="vid-info">
                    <a class="nav-link" href="./htmlpages/playVideo.html">Here any title of your video
                        abcdefghijklmnopqrstuvwxyz</a>
                    <p>Easy Tutorials</p>
                    <p>100k Views &bull; 1 hour</p>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href=""><img src="{% static 'streaming/images/thumbnail2.png' %}" alt="thumbnail" class="thumbnail"></a>
            <div class="vid-flex">
                <img src="{% static 'streaming/images/Jack.png' %}" alt="user-icon">
                <div class="vid-info">
                    <a class="nav-link" href="">Here any title of your video abcdefghijklmnopqrstuvwxyz</a>
                    <p>Easy Tutorials</p>
                    <p>100k Views &bull; 1 hour</p>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href=""><img src="{% static 'streaming/images/thumbnail3.png' %}" alt="thumbnail" class="thumbnail"></a>
            <div class="vid-flex">
                <img src="{% static 'streaming/images/Jack.png' %}" alt="user-icon">
                <div class="vid-info">
                    <a class="nav-link" href="">Here any title of your video abcdefghijklmnopqrstuvwxyz</a>
                    <p>Easy Tutorials</p>
                    <p>100k Views &bull; 1 hour</p>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href=""><img src="{% static 'streaming/images/thumbnail4.png' %}" alt="thumbnail" class="thumbnail"></a>
            <div class="vid-flex">
                <img src="{% static 'streaming/images/Jack.png' %}" alt="user-icon">
                <div class="vid-info">
                    <a class="nav-link" href="">Here any title of your video abcdefghijklmnopqrstuvwxyz</a>
                    <p>Easy Tutorials</p>
                    <p>100k Views &bull; 1 hour</p>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}