{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>
    <link rel="shortcut icon" href="{% static 'streaming/images/favicon.png' %}" type="image/x-icon">
    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'streaming/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'streaming/css/responsive.css' %}">
</head>

<body>
    {% block body %}
    {% endblock %}
    
    <!-- Link JS -->
    <script src="{% static 'streaming/js/script.js' %}"></script>

</body>

</html>