{% extends "streaming/layout.html" %}

{% block body %}

<!-- Login -->
<div class="login">
    <h4 class="google">Google</h4>
    <h4 class="signin">Sign in</h4>
    <p>to continue to YouTube</p>
    <form action="">
        <input type="text" placeholder="Email or phone"><br><br>
        <input type="password" placeholder="Password"><br>
    </form>
    <div class="f-pass-div">
        <a class="f-pass" href="">Forgot email?</a>
    </div>
    <div class="login-btn vid-flex">
        <a href="">Create account</a>
        <button>Sign in</button>
    </div>
</div>

{% endblock %}