{% extends "streaming/layout.html" %}

{% block title %}
    <title>{{ video.title }}</title>
{% endblock %}

{% block body %}

    <!-- Navbar -->
    {% include "streaming/navbar.html" %}

    <!-- Video Play -->
    <div class="container play-container">
        <div class="row">
            <div class="play-video">
                <video controls autoplay src="{{ video.video.url }}">
                </video>
                <div class="tags">
                    <a href="">#Tags</a> <a href="">#Tags</a> <a href="">#Tags</a> <a href="">#Tags</a> <a
                        href="">#Tags</a>
                </div>
                <h3>{{ video.title }}</h3>
                <div class="play-video-info">
                    <p>205k Views &bull; {{ video.time|timesince }}</p>
                    <div>
                        <a href=""><img src="{% static 'streaming/images/like.png' %}" alt="like-icon">100k</a>
                        <a href=""><img src="{% static 'streaming/images/dislike.png' %}" alt="dislike-icon"></a>
                        <a href=""><img src="{% static 'streaming/images/share.png' %}" alt="share-icon">Share</a>
                        <a href=""><img src="{% static 'streaming/images/save.png' %}" alt="save-icon">Save</a>
                    </div>
                </div>
                <hr>
                <div class="publisher">
                    <a href="{% url 'channel' c=video.channel.id%}">
                        <img src="{{ video.channel.by.profile_pic.url }}" alt="user-icon"></a>
                    <div>
                        <p>{{ video.channel.name }}</p>
                        <span>2.1k Subscribers</span>
                    </div>
                    <button type="button">Subscribe</button>
                </div>
                <div class="vid-des">
                    <p>{{ video.description }}</p>
                    <p>Subscribe to my Channel</p>
                    <hr>
                    <h4>2.5 Comments</h4>
                    <div class="add-comment">
                        {% if user.profile_pic %}
                        <img src="{{ user.profile_pic.url }}"  alt="user-icon" class="user-icon">
                        {% else %}
                        <img src="{% static 'streaming/images/profile_placeholder.jpg' %}"  alt="user-icon" class="user-icon">
                        {% endif %}
                        <input type="text" placeholder="Write your comment.....">
                    </div>
                    <div class="old-comments">
                        <img src="{% static 'streaming/images/simon.png' %}" alt="user-icon">
                        <div>
                            <h3>Simon <span>1 day ago</span></h3>
                            <p>Here will be comment</p>
                            <div class="comment-action">
                                <img src="{% static 'streaming/images/like.png' %}" alt="like-icon">
                                <span>15</span>
                                <img src="{% static 'streaming/images/dislike.png' %}" alt="dislike-icon">
                                <span>0</span>
                                <span>REPLY</span>
                                <a href="">All replies</a>
                            </div>
                        </div>
                    </div>
                    <div class="old-comments">
                        <img src="{% static 'streaming/images/cameron.png' %}" alt="user-icon">
                        <div>
                            <h3>Cameron <span>2 day ago</span></h3>
                            <p>Here will be comment</p>
                            <div class="comment-action">
                                <img src="{% static 'streaming/images/like.png' %}" alt="like-icon">
                                <span>15</span>
                                <img src="{% static 'streaming/images/dislike.png' %}" alt="dislike-icon">
                                <span>0</span>
                                <span>REPLY</span>
                                <a href="">All replies</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-sidebar">
                {% for r in recommendations %}
                <div class="side-video-list">
                    <a href="{% url 'playVideo' v=r.id%}" class="small-thumbnail"><img src="{{ r.thumbnail.url }}" alt="thumbnail"></a>
                    <div class="vid-info">
                        <a class="nav-link" href="{% url 'playVideo' v=r.id%}">{{ r.title }}</a>
                        <p>{{ r.channel.name }}</p>
                        <p>100k Views</p>
                    </div>
                </div>
                {% endfor %}
                <div class="side-video-list">
                    <a href="" class="small-thumbnail"><img src="{% static 'streaming/images/thumbnail5.png' %}" alt="thumbnail"></a>
                    <div class="vid-info">
                        <a class="nav-link" href="">Here any title of your video abcdefghijklmnopqrstuvwxyz</a>
                        <p>Easy Tutorials</p>
                        <p>100k Views</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}