{% extends "streaming/layout.html" %}


{% block body %}

<!-- Navbar -->
{% include "streaming/navbar.html" %}

<!-- Sidebar -->
<div class="sidebar">
    <div class="shortcut-links">
        <a href="{% url 'settings-p' %}">
            <p>Personal</p>
        </a>
        <a href="{% url 'settings-c' %}">
            <p>Channel</p>
        </a>
        <hr>
    </div>
</div>


<!-- Main -->
<div class="container">
    <div class="settings">
       {% if user.channel.cover %}
       <img class="cover" src="{{ user.channel.cover.url }}" alt="channel-cover">
       {% endif %}
       {% if user.profile_pic %}
       <img class="profile" src="{{ user.profile_pic.url }}"  alt="user-icon" class="user-icon">
        {% endif %}
        <div class="settings-opt">
            <h2>Settings</h2>
            <form method="post" action="{% url 'settings-c' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.by.as_hidden }} 
                <p>Channel Name: <span></span></p>
                {{ form.name }}

                <p>Description here</p><br>
                {{ form.description }}
                <br>

                <br><br>
                <p>Cover</p><br>
                {{ form.cover }}
                <br>
                <input type="submit" value="Update" >
            </form>
        </div>
    </div>
</div>


{% endblock %}