{% extends "streaming/layout.html" %}


{% block body %}

<!-- Navbar -->
{% include "streaming/navbar.html" %}

<!-- Sidebar -->
<div class="sidebar">
    <div class="shortcut-links">
        <a href="{% url 'settings-p' %}">
            <p>Personal</p>
        </a>
        <a href="{% url 'settings-c' %}">
            <p>Channel</p>
        </a>
        <hr>
    </div>
</div>


<!-- Main -->
<div class="container">
    <div class="settings">
        {% if user.channel.cover %}
       <img class="cover" src="{{ user.channel.cover.url }}" alt="channel-cover">
       {% endif %}

       {% if user.profile_pic %}
       <img class="s-profile" src="{{ user.profile_pic.url }}"  alt="user-icon" class="user-icon">
       {% else %}
       <img class="s-profile "src="{% static 'streaming/images/profile_placeholder.jpg' %}"  alt="user-icon" class="user-icon">
        {% endif %}
        <div class="settings-opt">
            <h2>Settings</h2>
            <form method='post' action="{% url 'settings-p' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.errors }}
                {{ password_form.errors }}
                <p>Username: <span></span></p>
                {{ user_form.username }}
                <br>
                <br>
                <p>Profile Picture</p>
                <br>
                {{ user_form.profile_pic }}
                <br>
                <button type="submit" name="update_user">Update User</button>
            </form>


            <form method="post" action="{% url 'settings-p' %}">
                {% csrf_token %}
                <p>Password</p>
                {{ password_form.as_p }}
                <button type="submit" name="change_password">Change Password</button>
            </form>

            
        </div>
    </div>
</div>


{% endblock %}