{% extends "streaming/layout.html" %}


{% block body %}

<!-- Navbar -->
{% include "streaming/navbar.html" %}

<!-- Sidebar -->
{% include "streaming/sidebar.html" %}

<!-- Main -->
<div class="container">
    <div class="settings">
        <img class="cover" src="{% static 'streaming/images/banner.png' %}" alt="channel-cover">
        <img class="s-profile" src="{% static 'streaming/images/megan.png' %}" alt="channel-profile">
        <div class="s-profile-div">
            <h2>ChannelName</h2>
            <input type="text" placeholder="New Channel Name">
            <button>Update channel name</button>
        </div>
        <div class="s-pics ">
            <input type="file">
            <button>Update profile picture</button><br><br>
            <input type="file">
            <button>Update cover picture</button>
        </div>
        <div class="settings-opt">
            <h2>Settings</h2>
            <p>Description here</p><br>
            <textarea class="s-des" name="" id="" cols="30" rows="10" placeholder="Enter New Description"></textarea>
            <br>
            <button>Update Description</button>

            <p>@Username</p>
            <input type="text" placeholder="Enter New Username">
            <button>Update Username</button>

            <p>Email Address</p>
            <input type="email" placeholder="Enter New Email">
            <button>Update Email Address</button>

            <p>Phone Number</p>
            <input type="tel" placeholder="Enter New Phone">
            <button>Update Phone</button>

            <p>Password</p>
            <input type="password" placeholder="Enter New password">
            <input type="password" placeholder="Confirm password">
            <button>Update Password</button>
        </div>
    </div>
</div>


{% endblock %}