<div class="sidebar">
    <div class="shortcut-links">
        <a href="{% url 'home' %}"><img src="{% static 'streaming/images/home.png' %}" alt=""><p>Home</p></a>
        <a href=""><img src="{% static 'streaming/images/subscriprion.png' %}" alt=""><p>Subscriprion</p></a>
        <a href=""><img src="{% static 'streaming/images/history.png' %}" alt=""><p>History</p></a>
        <hr>
    </div>
    <div class="subscribed-list">
        <h3>SUBSCRIBED</h3>
        <a href="{% url 'channel' c=1%}" class="nav-link"><img src="{% static 'streaming/images/Jack.png' %}" alt="user-icon"><p>Jack</p></a>
    </div>
</div>
