{% extends "streaming/layout.html" %}

{% block body %}

<!-- Login -->
<div class="signup">
    <h4 class="google">YouTube</h4>
    <h4 class="signin">Sign up</h4>
    {{ message }}
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" autofocus required><br><br>
        <input type="email" name="email"  placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="confirmation" placeholder="ConfirmPassword" required><br>

        <div class="signup-btn vid-flex">
            <a href="{% url 'login' %}">Back to Sign in</a>
            <input type = "submit" value="Sign up">
        </div>
    </form>
    
</div>



{% endblock %}