{% extends "streaming/layout.html" %}


{% block body %}

    <!-- Navbar -->
    {% include "streaming/navbar.html" %}

    <!-- Video Play -->
    <div class="container">
        <div class="row">
            <div class="upload-video">
                <video src=""></video>
            </div>

            <div class="u-description">
                <form action="">
                    <input type="file" name="" id="">
                    <a href="" class="u-vid">Add Video</a><br><br>
                    <input type="text" name="" id="" placeholder="Title"><br><br>
                    <textarea name="" id="" placeholder="Description"></textarea><br><br>
                    <input type="file" name="" id="">
                    <a href="" class="u-vid">Add Thumbnail</a><br><br><br>
                    <a href="" class="u-vid">Upload Video</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}